body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#GameBoard {
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: repeat(24, 1fr);
    width: 65vmin;
    height: 65vmin;
    border: 1vmin solid darkgray;
}

#Information {
    margin: 25px;
    padding: 25px;
    display: grid;
    grid-gap: 20px;
    color: white;
    word-wrap: break-word;
    word-break: break-all;
}

.snake {
    background-color: green;
    border: .5vmin solid black;
}

.apple {
    background-color: red;
    border: .5vmin solid black;
}
